 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');

:root {
    --corprincipal: #0A3871;
    --corsegundaria: #7e7e7ebb;
    --cortitulo: #000000d3;
}

body {
    background: var(--corsegundaria);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    color: var(--cortitulo);
}

.cabecalho img {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container-input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input {
    width: 400px;
    height: 330px;
}

#input-texto{
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--cortitulo);
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;

}

#output{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cortitulo);
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
}

#output h2 {
    text-align: center;
    font-size: 25px;
    color: var(--cortitulo);
}

#output span {
    font-size: 16px;
    text-align: center;
}

#output img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-top:4%;
}

.container-btn  button{
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(201, 7, 250);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn-copiar {
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(201, 7, 250);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container-btn  button:hover {
    border: 2px solid var(--corsegundaria);
    transition: 0.5s all;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background: var(--corprincipal);
    color: var(--cortitulo);
}

.rodape h3 {
    font-size: 16px;

}

.icons ion-icon{
    width: 25px;
    height: 25px;
    color: var(--cortitulo);
}

.icons ion-icon:hover{
    color:var(--corsegundaria)
}